################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vshistory/EntityFramework.BulkExtensions.sln/2021-03-18_19_58_32_193.sln
/.vshistory/EntityFramework.BulkExtensions.sln
/.vs/EntityFramework.BulkExtensions/v16/.suo
/EntityFramework.BulkExtensions/obj/Debug
/EntityFramework.BulkExtensions/bin/Debug
/EntityFramework.BulkExtensions/.vshistory/EntityFramework.BulkExtensions.csproj
/EntityFrameworkCore.BulkExtensions/obj/Debug
/EntityFrameworkCore.BulkExtensions/bin/Debug/System.Interactive.Async.xml
/EntityFrameworkCore.BulkExtensions/bin/Debug/System.Interactive.Async.dll
/EntityFrameworkCore.BulkExtensions/bin/Debug/System.Collections.Immutable.xml
/EntityFrameworkCore.BulkExtensions/bin/Debug/System.Collections.Immutable.dll
/EntityFrameworkCore.BulkExtensions/bin/Debug/Microsoft.Extensions.DependencyInjection.Abstractions.xml
/EntityFrameworkCore.BulkExtensions/bin/Debug/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/EntityFrameworkCore.BulkExtensions/bin/Debug/Microsoft.EntityFrameworkCore.xml
/EntityFrameworkCore.BulkExtensions/bin/Debug/Microsoft.EntityFrameworkCore.Relational.xml
/EntityFrameworkCore.BulkExtensions/bin/Debug/Microsoft.EntityFrameworkCore.Relational.dll
/EntityFrameworkCore.BulkExtensions/bin/Debug/Microsoft.EntityFrameworkCore.dll
/EntityFrameworkCore.BulkExtensions/bin/Debug/EntityFramework.BulkExtensions.EFCore.pdb
/EntityFrameworkCore.BulkExtensions/bin/Debug/EntityFramework.BulkExtensions.EFCore.dll
/EntityFrameworkCore.BulkExtensions/bin/Debug
/EntityFrameworkCore.BulkExtensions/.vshistory/EntityFrameworkCore.BulkExtensions.csproj/2021-03-18_20_03_48_690.csproj.4103.gz
/EntityFrameworkCore.BulkExtensions/.vshistory/EntityFrameworkCore.BulkExtensions.csproj/2021-03-18_20_01_39_710.csproj.4190.gz
/EntityFrameworkCore.BulkExtensions/.vshistory/EntityFrameworkCore.BulkExtensions.csproj/2021-03-18_19_58_32_210.csproj.4113.gz
/EntityFrameworkCore.BulkExtensions/.vshistory/EntityFrameworkCore.BulkExtensions.csproj
/EntityFrameworkCore.BulkExtensions.NetStandard/bin/Debug/netstandard2.1/EntityFramework.BulkExtensions.EFCore.pdb
/EntityFrameworkCore.BulkExtensions.NetStandard/bin/Debug/netstandard2.1/EntityFramework.BulkExtensions.EFCore.dll
/EntityFrameworkCore.BulkExtensions.NetStandard/bin/Debug/netstandard2.1/EntityFramework.BulkExtensions.EFCore.deps.json
/EntityFrameworkCore.BulkExtensions.NetStandard/bin/Debug/netstandard2.1
/EntityFrameworkCore.BulkExtensions.NetStandard/.vshistory/EntityFrameworkCore.BulkExtensions.NetStandard.csproj/2021-03-18_20_02_56_411.csproj
/EntityFrameworkCore.BulkExtensions.NetStandard/.vshistory/EntityFrameworkCore.BulkExtensions.NetStandard.csproj/2021-03-18_20_02_40_390.csproj
/EntityFrameworkCore.BulkExtensions.NetStandard/.vshistory/EntityFrameworkCore.BulkExtensions.NetStandard.csproj/2021-03-18_20_00_12_502.csproj
/EntityFrameworkCore.BulkExtensions.NetStandard/.vshistory/EntityFrameworkCore.BulkExtensions.NetStandard.csproj/2021-03-18_19_58_32_206.csproj
/EntityFrameworkCore.BulkExtensions.NetStandard/.vshistory/EntityFrameworkCore.BulkExtensions.NetStandard.csproj
/EntityFrameworkCore.BulkExtensions.NetStandard/obj
/EntityFrameworkCore.BulkExtensions.NetStandard/Mapping/.vshistory/MappingExtension.cs
/packages
/UnitTests.NetStandard/obj
/UnitTests.NetStandard/bin/Debug/netcoreapp3.0
/UnitTests.NetStandard/.vshistory/UnitTests.NetStandard.csproj
/UnitTests.EF6/obj/Debug
/UnitTests.EF6/bin/Debug
